<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-margin-to">
 
  <form class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="floating">Nom d'utilisateur</ion-label>
            <ion-input type="email" placeholder="Votre Email Adresse" [(ngModel)]="data.email" name="email" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Mot de passe </ion-label>
            <ion-input type="password" placeholder="Votre Mot De Passe" [(ngModel)]="data.password" name="password" required></ion-input>
        </ion-item>
    </ion-list>
    <ion-button class="ion-margin" size="" expand="block" (click)="connexionClient()">Connexion</ion-button>
    <div class="ion-text-center"><span  (click)="register()">Créé un compte</span>

    </div>
   
</form>
</ion-content>
