<ion-header>
  <ion-toolbar>
    <ion-title>add-terrain</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
  
    <ion-row>
        <ion-col size="12">
            <form action="">
                <ion-item>
                    <ion-label position="floating">Nom Terrain</ion-label>
                    <ion-input type="text" [(ngModel)]="terrain.nom" name="nom" placeholder="Nom de Terrain"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Longeur Terrain</ion-label>
                    <ion-input type="number" [(ngModel)]="terrain.longeur" name="longeur" placeholder="Longeur De Terrain"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Largeur Terrain</ion-label>
                    <ion-input type="number" [(ngModel)]="terrain.largeur" name="largeur" placeholder="Largeur De Terrain"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Prix Terrain</ion-label>
                    <ion-input type="number" [(ngModel)]="terrain.prix" name="prix" placeholder="Prix De Terrain"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Catégorie</ion-label>
                    <ion-input type="text" [(ngModel)]="terrain.categorie" name="categorie" placeholder="Nom de categorie"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label> Type de Terrain</ion-label>
                <ion-input  placeholder="Type de Terrain"  type="text" [(ngModel)]="terrain.type" name="type" placeholder="Type De terrain"></ion-input>

                </ion-item>
                <ion-item>
                    <ion-label> Terrain Description</ion-label>
                <ion-input  placeholder="Terrain Description"  type="text" [(ngModel)]="terrain.description" name="type" ></ion-input>

                </ion-item>
             
            </form>
        </ion-col>
    </ion-row>
    <ion-button color="primary" class="ion-margin" [disabled]="false" expand="block" size="small" fill="outline" (click)="addterrain()">publier</ion-button>

</ion-grid>
</ion-content>
