<ion-header>
  <ion-toolbar>
      <ion-title>Les Publications</ion-title>
      <ion-icon class="fontSizeIcon" slot="end" name="send" (click)="addAnnonce()"></ion-icon>
      
  </ion-toolbar>
</ion-header>
<ion-content>

      <ion-card *ngFor="let item of annonces;let i=index" [id]="'annonce' + item.id">
          <ion-card-header>
              <ion-grid class="ion-no-padding" fixed>
                  <ion-row>
                     
                      <ion-col size="10" class="nameBrandParent">
                          <ion-label class="nameBrand" *ngIf="item.type == 'club'">Par: {{item.brand_name}}</ion-label>
                          <ion-label class="nameBrand" *ngIf="item.type == 'client'">Par: {{item.prenom + ' ' + item.nom}}</ion-label><br>
                          <ion-label class="timePost"><span>{{item.updated_at}}</span></ion-label>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-header>

          <ion-card-content class="">
              <ion-grid fixed class="ion-no-padding">
                 
                  <ion-row class="bodyItem ion-align-items-center">
                      <ion-col size="12">
                          <h2>
                              <ion-label class="nameBrandButtom">
                                  <span>Titre: </span><u>{{item.titre}}</u>
                              </ion-label>
                          </h2>
                
                          <ion-grid fixed *ngIf="user.type == 'client'">
                              <ion-row>
                                  <ion-col size="12" >
                                    <p class="descriptionPub">Description: {{item.pub | slice:0:250}}</p>
                                  </ion-col>
                               
                              </ion-row>
                          </ion-grid>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-content>
      </ion-card>
  

</ion-content>